<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}"> {% endcomment %}
        <title>{{ post_object.title }} Create new item</title>
    </head>
    <body>
        <div>
            <header>
                <nav>
                    <a href="{% url "todo_lists" %}">To-Do-List</a>
                    {% comment %} {% if user.is_authenticated %} {% endcomment %}
                    <a href="{% url "todo_list_create" %}">Create a new list</a>
                    {% comment %} <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a> {% endcomment %}
                    {% comment %} {% else %}
                    {% endif %} {% endcomment %}
                </nav>
            </header>
        </div>
        <main>
            <div>
                <h1>Create a new item</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <label for="fname">task</label>
                    <input type="text"><br><br>
                    <label for="fname">due date</label>
                    <input type="text"><br><br>
                    <input type="checkbox" id="is_completed" name="is_completed">
                    <label for="is_completed"> is_completed</label><br>
                    

                    <button>Create item</button>
                </form>
            </div>
        </main>
        {% comment %} <footer>
        </footer> {% endcomment %}
    </body>
</html>
