<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <header>
                <nav>
                    <a href="{% url "todo_lists" %}">To-Do-List</a>
                    {% comment %} {% if user.is_authenticated %} {% endcomment %}
                    <a href="{% url "todo_list_create" %}">Create a new list</a>
                    {% comment %} <a href="{% url 'todo_list_update' form.id %}">Edit To Do List</a> {% endcomment %}
                    {% comment %} {% else %}
                    {% endif %} {% endcomment %}
                </nav>
            </header>
        </div>
        <h1>{{ todo_list_detail.name }}</h1>
        <h2>{{ todo_list_detail.created_on }}</h2>
        <p>
            <a href="{% url "todo_list_update" todo_list_detail.id %}">Update</a>
            <a href="{% url "todo_list_delete" todo_list_detail.id %}">Delete</a> 
        </p>
        <main>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Due Date</th>
                            <th>Is Completed</th>
                            <th>To-Do-List</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ol>
                                    {% for item in todo_list_detail.items.all %}<li>{{ item.name }}</li>{% endfor %}
                                </ol>
                            </td>
                            <td>
                                <ul>
                                    {% for item in todo_list_detail.items.all %}<li>{{ item.due_date }}</li>{% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for item in todo_list_detail.items.all %}<li>{{ item.is_completed }}</li>{% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for item in todo_list_detail.items.all %}<li>{{ item.list }}</li>{% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
{% comment %} name
due_date 
is_completed 
list  {% endcomment %}
