<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <header>
                <nav>
                </nav>
            </header>
        </div>
        <main>
            <div>
                <h1>My List</h1>
                <p>
                    <a href="{% url "todo_list_create" %}">Create a new list
                    </p>
                </a>
                <p>
                    <a href="{% url "todo_item_create" %}">Create a new item
                    </p>
                </a>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of items</th>
                        </tr>
                    </thead>
                    <div>
                        <tbody>
                            {% comment %} <p>Test</p> {% endcomment %}
                            {% for list in todo_lists %}
                                <tr>
                                    <td>
                                        <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                                    </td>
                                    <td>{{ list.items.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </div>
                </table>
            </div>
        </main>
    </body>
</html>
{% comment %} <td>
                                    <a href="{% url 'todo_list_detail' todolists.id %}">{{ todolist.name }}</a>
</td> {% endcomment %}
